<div class="jumbotron">
<h1>Pinteresting</h1>
<p>Share your unforgetable memories with the loved ones.<p> 
<p><%= link_to "Learn More", "#", class: "btn btn-primary btn-lg" %> Or <%= link_to "Sign up for free", "#", class: "btn btn-primary btn-lg" %></p>

</div>
