<div class="jumbotron center">
<h1>Pinteresting</h1>
<p>Share your unforgetable memories with the loved ones.<p> 
<p><%= link_to "Learn More", "#", class: "btn btn-primary btn-lg" %>
<% if user_signed_in? %>
		
<% else %>
Or <%= link_to "Sign up for free", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>

	<% end %>

	<% if user_signed_in? %>
		<p><%= link_to "Create You New Pin NOW!", new_pin_path, class: "btn btn-primary btn-lg" %></p>
	<% end %>

</div>
